MusicShopClient/MusicShopClient/Service References/ServiceReference1/MusicShopWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.musicshopapp.pai.lodz.pl/" targetNamespace="http://ws.musicshopapp.pai.lodz.pl/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="addNewProduct" type="tns:addNewProduct" />
  <xs:element name="addNewProductResponse" type="tns:addNewProductResponse" />
  <xs:element name="categories" type="tns:categories" />
  <xs:element name="getAllCategories" type="tns:getAllCategories" />
  <xs:element name="getAllCategoriesResponse" type="tns:getAllCategoriesResponse" />
  <xs:element name="getAllProducts" type="tns:getAllProducts" />
  <xs:element name="getAllProductsResponse" type="tns:getAllProductsResponse" />
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:element name="products" type="tns:products" />
  <xs:element name="removeProduct" type="tns:removeProduct" />
  <xs:element name="removeProductResponse" type="tns:removeProductResponse" />
  <xs:complexType name="addNewProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:decimal" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:decimal" />
      <xs:element name="amount" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addNewProductResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getAllProducts">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getAllProductsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:products" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="products">
    <xs:sequence>
      <xs:element name="prdAmount" type="xs:long" />
      <xs:element minOccurs="0" name="prdCatId" type="tns:categories" />
      <xs:element minOccurs="0" name="prdDescription" type="xs:string" />
      <xs:element minOccurs="0" name="prdId" type="xs:decimal" />
      <xs:element minOccurs="0" name="prdName" type="xs:string" />
      <xs:element minOccurs="0" name="prdPrice" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="categories">
    <xs:sequence>
      <xs:element minOccurs="0" name="catId" type="xs:decimal" />
      <xs:element minOccurs="0" name="catName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="removeProduct">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="removeProductResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllCategories">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getAllCategoriesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:categories" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>