MusicShopClient/MusicShopClient/Service References/ServiceReference1/MusicShopWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://ws.musicshopapp.pai.lodz.pl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="MusicShopWebService" targetNamespace="http://ws.musicshopapp.pai.lodz.pl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/MusicShopApp1/MusicShopWebService?xsd=1" namespace="http://ws.musicshopapp.pai.lodz.pl/" />
    </xsd:schema>
  </types>
  <message name="getAllCategories">
    <part name="parameters" element="tns:getAllCategories" />
  </message>
  <message name="getAllCategoriesResponse">
    <part name="parameters" element="tns:getAllCategoriesResponse" />
  </message>
  <message name="hello">
    <part name="parameters" element="tns:hello" />
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse" />
  </message>
  <message name="addNewProduct">
    <part name="parameters" element="tns:addNewProduct" />
  </message>
  <message name="addNewProductResponse">
    <part name="parameters" element="tns:addNewProductResponse" />
  </message>
  <message name="getAllProducts">
    <part name="parameters" element="tns:getAllProducts" />
  </message>
  <message name="getAllProductsResponse">
    <part name="parameters" element="tns:getAllProductsResponse" />
  </message>
  <message name="removeProduct">
    <part name="parameters" element="tns:removeProduct" />
  </message>
  <message name="removeProductResponse">
    <part name="parameters" element="tns:removeProductResponse" />
  </message>
  <portType name="MusicShopWebService">
    <operation name="getAllCategories">
      <input wsam:Action="http://ws.musicshopapp.pai.lodz.pl/MusicShopWebService/getAllCategoriesRequest" message="tns:getAllCategories" />
      <output wsam:Action="http://ws.musicshopapp.pai.lodz.pl/MusicShopWebService/getAllCategoriesResponse" message="tns:getAllCategoriesResponse" />
    </operation>
    <operation name="hello">
      <input wsam:Action="http://ws.musicshopapp.pai.lodz.pl/MusicShopWebService/helloRequest" message="tns:hello" />
      <output wsam:Action="http://ws.musicshopapp.pai.lodz.pl/MusicShopWebService/helloResponse" message="tns:helloResponse" />
    </operation>
    <operation name="addNewProduct">
      <input wsam:Action="http://ws.musicshopapp.pai.lodz.pl/MusicShopWebService/addNewProductRequest" message="tns:addNewProduct" />
      <output wsam:Action="http://ws.musicshopapp.pai.lodz.pl/MusicShopWebService/addNewProductResponse" message="tns:addNewProductResponse" />
    </operation>
    <operation name="getAllProducts">
      <input wsam:Action="http://ws.musicshopapp.pai.lodz.pl/MusicShopWebService/getAllProductsRequest" message="tns:getAllProducts" />
      <output wsam:Action="http://ws.musicshopapp.pai.lodz.pl/MusicShopWebService/getAllProductsResponse" message="tns:getAllProductsResponse" />
    </operation>
    <operation name="removeProduct">
      <input wsam:Action="http://ws.musicshopapp.pai.lodz.pl/MusicShopWebService/removeProductRequest" message="tns:removeProduct" />
      <output wsam:Action="http://ws.musicshopapp.pai.lodz.pl/MusicShopWebService/removeProductResponse" message="tns:removeProductResponse" />
    </operation>
  </portType>
  <binding name="MusicShopWebServicePortBinding" type="tns:MusicShopWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getAllCategories">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="hello">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="addNewProduct">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getAllProducts">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="removeProduct">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="MusicShopWebService">
    <port name="MusicShopWebServicePort" binding="tns:MusicShopWebServicePortBinding">
      <soap:address location="http://localhost:8080/MusicShopApp1/MusicShopWebService" />
    </port>
  </service>
</definitions>